<div id="skiplink-container">
  <div>
    <a class="skiplink" href="#content">Skip to main content</a>
  </div>
</div>

<div id="global-cookie-message">
  <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
</div>

<header class="with-proposition app-govuk-header" id="global-header" role="banner"></header>

<div id="global-header-bar"></div>

<main id="content" role="main">
  <router-outlet></router-outlet>
</main>

<footer id="footer" class="app-govuk-footer" role="contentinfo"></footer>